* {
    background-color: blue;
}

div {
    color: crimson;
}

div:hover {
    background-color: white;
    color: black;
}

a {
    color: red;
}

a:link {
    color: blue;
}

p:first-letter {
    font-size: 130%;
}

#tekst:hover {
    color: #128870;
}
